<h1>
	<span><%= link_to '+ Ajouter un article', new_article_path, {:class => "add-btn btn"} %></span>
</h1>

<div class="index_articles">

	<% @articles.each do |a| %>
		<div class="articles">
			<h2>titre : <%= a.title %></h2>

			<p><%= a.created_at.strftime("%d %b %y") %></p>
			<p><%= articles_content_md_truncated(a) %></p>

			<p>tag : <%= format_tags(a.tags) %></p>

			<footer>
				<%= link_to 'Lire la suite', a ,{:class => "more-btn btn"}%>
				<%= link_to 'éditer', a, {:class => "edit-btn btn"}%>
			</footer>

		</div>
	<% end %>

</div>
