<h1><%= @article.title %></h1>

<div class="articles">	
	<p><%= @article.content %></p>
	<p>tag : <%= @article.tag_list %></p>
</div>

<%= link_to 'éditer', edit_article_path, {:class => "edit-btn btn"} %>
<%= link_to 'retour', articles_path, {:class => "back-btn btn"} %>
