<%= form_for :liens, url: liens_path do |f| %>
<!-- errors-->
<% if @liens.errors.any? %>
  
  <div id="error_explanation">
    <h2>
      <%= pluralize(@liens.errors.count, "error") %> empêchent l'enregistrement du lien:
    </h2>
    <ul>
    <% @liens.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

<% end %>

  <p>
    <%= f.label :title, "titre" %><br>
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

   <p>
    <%= f.label :author , "auteur" %><br>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :link, "lien" %><br>
    <%= f.text_field :link %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>