<h3>Liste des liens</h3>

<%= link_to 'Ajouter un lien', new_lien_path, {:class => "add-link"} %>

<div id="link_container">
	<% @liens.each do |lien| %>
		<div class="liens">
			<p><%= lien.created_at.strftime("%m/%d/%Y") %></p>

			<p>Titre : <%= lien.title %></p>
			<!-- <p>Description : <%= lien.description %> </p> -->
			<%= link_to "description", lien_path(lien.id), {:class => "desc-link"} %></p>
		</div>
	<% end %>
</div>
