<h1>Liste des liens</h1>

<%= link_to 'New link', new_lien_path %>

<ul>
<% @liens.each do |lien| %>
	<li>
		<em><%= lien.created_at.strftime("%m/%d/%Y") %></em>
		<%= link_to(lien.title, lien_path(lien.id)) %>
		<%= link_to(lien.description, lien_path(lien.id)) %>
		<%= link_to(lien.author, lien_path(lien.id)) %>
		<%= link_to(lien.lien, lien_path(lien.id)) %>
	</li>
<% end %>
</ul>

