<h1>Nouveau lien</h1>

<%= form_for :liens, url: liens_path do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

   <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :lien %><br>
    <%= f.text_field :lien %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>