<h1>Dernier lien</h1>

<p>
  <strong>Titre:</strong>
  <%= @liens.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @liens.description %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @liens.author %>
</p>

<p>
  <strong>Lien:</strong>
  <%= @liens.link %>
</p>

<%= link_to 'éditer', edit_lien_path, {:class => "btn"} %>
<%= link_to 'Retour', liens_path, {:class => "btn"}%>