%header
  %h3
    = link_to "Goals", root_path, id: 'logo'
  %nav
    %ul
      %li
        = link_to "accueil", root_path
      %li
        = link_to "objectifs", goals_path
      %li
        = link_to "Météo", weather_path 
      %li
        = link_to "blog", articles_path